<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/screen.css">

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->

    <script src="//use.typekit.net/azi2dty.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
    <body>
      <div class="header-wrapper">
        <header>
<!--           <h1>
            <span>The Report</span> Margins
          </h1> -->
        </header>
      </div>
